
/* .camera{
    display: flex;
    padding: 0%;
    width: 50%;
    float: left; /* Float the video container to the left*/
 /* }  */

 .flex-image {
    width: 100%; /* Make the image fill the width of the container */
    border-radius: 10px; /* Optional rounded corners for the image */
}

 /* Style the right flexbox */
 .right-container1 {
    display: flex; /* Take up available space */
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; /* Background color for the left flexbox */
}

/* Style the right flexbox */
.right-container2 {
    display: flex; /* Take up available space */
    height: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2; /* Background color for the left flexbox */
    border: 5px solid #34495E;
}

/* Style the right flexbox */
.right-container3 {
    display: flex; /* Take up available space */
    height: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2; /* Background color for the left flexbox */
}

/* Style the video element to cover the container */
#video {
    width: 100%;
    border-radius: 20px;
    border: 5px solid #34495E;
    width: 50%;
    margin: 20px;
    overflow: hidden;
    float: left;
}

/* the prediction text */
#result {
    font-size: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

/* .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */